.topHeadTitle{
    background: #AA3344;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    font-family: 黑体;
    font-size: 15px;
    font-weight: bolder;
 }

 .footerCreditInformation{
    background: #AA3344;
    padding: 10px;
    font-size: 6pt;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}